<header>
    header goes here
</header>
<div class="container">
    <span>
        How it started
    </span>
    <br>
    <p>
        It all started when college friends, Anuj Srivastava and Ramakant Sharma
         set upon their journeys to design their dream homes. It didn’t take them 
         long to realise how fragmented the industry was and how factors like identifying 
         the right professionals, coordination of tasks, and ensuring fair price and quality 
         were pain points faced by many.

    </p>
    <br>
    <p>
        Determined to fix this and offer a happier experience to homeowners, 
        they built a much needed bridge for the industry. Livspace was founded in 2014.
         It is now the trusted brand for complete home interior design and renovation for thousands of homeowners.
    </p>
</div>
<div class="founder">
    <span>Meet our founders</span>
   
    <div class="container ">
        <div class="row p-5">
            <div class="col d-flex justify-content-center">
                <div class="card text-center" style="width: 18rem;">
                    <img src="https://images.livspace-cdn.com/w:200/h:200/dpr:1/plain/https://d3gq2merok8n5r.cloudfront.net/bumblebee/in/about-us-1629737930-WrXkD/mobile-1629737947-8cnvs/founders-1629749026-4Dd76/anuj-mobile-1632298064-KVsoM.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 900;">Anuj Srivastava</h5>
                      
                      <p class="card-text">A dreamer and a chess master of the startup world, Anuj always keeps you guessing about his next move. With years of experience in leading worldwide product marketing functions and a deep knowledge of consumers, he uses his expertise to lead Livspace.</p>
                    </div>
                  </div>
            </div>
               <div class="col d-flex justify-content-center">
                <div class="card text-center" style="width: 18rem;">
                    <img src="https://images.livspace-cdn.com/w:200/h:200/dpr:1/plain/https://d3gq2merok8n5r.cloudfront.net/bumblebee/in/about-us-1629737930-WrXkD/mobile-1629737947-8cnvs/founders-1629749026-4Dd76/rk-mobile-1632298059-v71q6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 900;">Ramakant Sharma</h5>
                      
                      <p class="card-text">A dreamer and a chess master of the startup world, Anuj always keeps you guessing about his next move. With years of experience in leading worldwide product marketing functions and a deep knowledge of consumers, he uses his expertise to lead Livspace.</p>
                    </div>
                  </div>
            </div>
      </div>
    </div>
</div>