body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: white;
}

#app {
  padding: 40%;
  margin: auto;
  width: 70%;
  justify-content: space-around;
  gap: 10px;
  display: flex;
}

/* .btn {
  width: 300px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
} */

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

/* CSS */
.btn {
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:active {
  outline: 0;
}

.btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.btn:before {
  background-color: #d5edf6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.btn:hover:before {
  background-color: #6dcff6;
}
