* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;

  align-content: space-evenly;
  justify-content: space-evenly;
}
.container {
  border-radius: 15px;
  width: 50vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span {
  color: #1976d2;
}

.inner-box {
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(78, 11, 78);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
}
/* 
.inner-box p {
  color: #1976d2;
} */

.inner-grid-box {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.img-box {
  border-radius: 0px 10px 10px 0px;
  width: 25vw;
  height: 40vh;
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
p {
  font: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
}
.grid-content p {
  font-size: 0.5em;
  color: #1976d2;
}
.h2 {
  text-align: center;
}
