<!-- <p>contact works!</p> -->
<div class="container p-5">
    <span>Contact Us</span>
    <br><br><br>
    <div class="row">
        <div class="col">
          <h2>Customer Support</h2>
          <h4>Mail</h4>
          <div class="det">care@livspace.com</div>
          <br>
          <h4>Call</h4>
          <div class="det">+91 9148 484 666</div>

        </div>
        <div class="col">
          <h2>Our Offices</h2>
          <h4>India</h4>
          <div class="det">
            Livspace, 3rd Floor, Aurbis Business Parks Pvt Ltd, Survey No. 58, 
            7, Outer Ring Rd, Devarabisanahalli, Bellandur, Bengaluru, Karnataka 560103
          </div>
          <br>
          <h4>Singapore</h4>
          <div class="det">
            120 Robinson Rd, #16-00, Singapore 068913
          </div>

        </div>
    </div>

   

</div>

<div class="container p-5" >
    <span>Talk to Customer Support</span>
    <br><br><br>
    <div class="card w-100 p-5">
        <form>
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
              </div>
            <div class="mb-3 mt-2">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
</div>