.container{
    border:1px solid black;
    width:350px;
    border-radius: 7px;
    padding: 7px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.section-one{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding: 5px;
}

.action{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    padding: 5px
}
.root{
    body{ margin:0 auto; }
}